.dashboard-root {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.dashboard-root .title {
    padding: 18px;
    font-size: 18px;
    background-color: #fff;
}

.dashboard-root .dialog-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #eee;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}

.dashboard-root .dialog-editor ul.option-nav {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 12px 0px;
    list-style-type : none;
    background-color: #000;
    color: white;
}

.dashboard-root .dialog-editor ul.option-nav li {
    cursor: pointer;
    margin-right: 20px;
}

.dashboard-root .dialog-editor .dialog {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.dashboard-root .dialog-editor .dialog .panel {
    width: 100%;
    padding: 10px;
    overflow: scroll;
    white-space: nowrap;
    background-color: #eee;
}

.dashboard-root .dialog-editor .dialog .list {
    width: 300px;
    padding: 10px;
    overflow-y: scroll;
    background-color: #eee;
}

.dashboard-root .dialog-editor #node {
    display: inline-block;
    width: 130px;
    cursor: pointer;
}

.dashboard-root .dialog-editor #node > span {
    display: flex;
    flex-direction: column;
}

.dashboard-root .dialog-editor #node > span > span:nth-child(1) {
    text-align: center;
    color: white;
}

.dashboard-root .dialog-editor #node > span > span:nth-child(2) {
    display: inline-block;
    height: 30px;
    padding: 5px;
    text-align: left;
    color: black;
    background-color: white;
}

.dashboard-root .dialog-editor #node.welcome {
    border: 1px solid #bdbdbd;
    background-color: #bdbdbd;
}

.dashboard-root .dialog-editor #node.anything-else {
    border: 1px solid #bdbdbd;
    background-color: #bdbdbd;
}

.dashboard-root .dialog-editor #node.output {
    border: 1px solid red;
    background-color: red;
}

.dashboard-root .dialog-editor #node.set {
    border: 1px solid blue;
    background-color: blue;
}