/* basic elem */
input::content {
  padding-left: 10px;
}

/* toolbars */
.toolbar {
  display: flex;
  width: 100%;
  height: 64px;
  align-items: center;
  background-color: #324148;
}

.toolbar .logo {
  width: auto;
  height: 100%;
}

.toolbar .title {
  color: #ffffff;
  font-size: 24px;
}

.toolbar .title b {
  color: rgb(195, 1, 1);
}

/* form */
.login-form {
  display: flex;
  width: 400px;
  flex-direction: column;
  margin: 60px auto auto auto;
}

.login-form > * {
  margin-top: 20px;
}

.login-form > .title {
  text-align: center;
  font-size: 2em;
  font-weight: 700;
  color: #324148;
}

.login-form > input {
  padding: 18px 20px;
  font-size: 1em;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
}

.login-form > .submit {
  text-align: center;
  padding: 18px 0px;
  background-color: #324148;
  color: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 12px;
}